/* Center the webpage */
html, body{
    height: 100%;
}

body{
  font-family: 'Roboto Mono', monospace;
  color: white;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  /*
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  */
}
h2{
  font-family: 'Kings', cursive;
}
header{
  margin: 2%;
  margin-bottom: 5%;
  text-align: center;
}
.mytitle{
  margin-top: 1%;
  text-align: center;
}
.maincontainer{
  margin-left: 5%;
  margin-right: 5%;
}

.mycssclass{
  width: 60%;
}

#connectHypButton{
  margin-left: 70%;
  margin-bottom: 3%;
  cursor: pointer;

}


#vmtextbox{
  height: 32vh;
}

#selectVMbutton{
  margin-left: 67%;
  margin-bottom: 2%;
  cursor: pointer;
}

#patchTextarea{
  height: 57vh;
}

#executeButton{
  float: right;
  margin-right: 1%;
  margin-bottom: 3%;
  cursor: pointer;
}
.col{
  height:85vh;
  margin: 1px;
  clear:both;
  /*overflow: auto;*/
}

/* Dropdown Menu */

.dropdown-submenu {
  position:relative;
}

.subvalues {
  /*width: max-content;*/
  width: 300px;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
